__pycache__/
*.py[cod]
*.db
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
logs/
.env
.env.*
!.env.example
!.env.development.example
!.env.staging.example
!.env.production.example
.git/
.github/

*.coveragerc
tests/
e2e/
*.log
